@keyframes animation {
    0%,
    100% {
        box-shadow: 0 -60px 0 0.40px #338cff, 40px -40px 0 0 #338cff, 60px 0 0 -10px #338cff, 40px 40px 0 -10px #338cff, 0 60px 0 -10px #338cff, -40px 40px 0 -10px #338cff, -60px 0 0 -10px #338cff, -40px -40px 0 0 #338cff;
    }
    12.5% {
        box-shadow: 0 -60px 0 0 #338cff, 40px -40px 0 0.40px #338cff, 60px 0 0 0 #338cff, 40px 40px 0 -10px #338cff, 0 60px 0 -10px #338cff, -40px 40px 0 -10px #338cff, -60px 0 0 -10px #338cff, -40px -40px 0 -10px #338cff;
    }
    25% {
        box-shadow: 0 -60px 0 -10px #338cff, 40px -40px 0 0 #338cff, 60px 0 0 0.40px #338cff, 40px 40px 0 0 #338cff, 0 60px 0 -10px #338cff, -40px 40px 0 -10px #338cff, -60px 0 0 -10px #338cff, -40px -40px 0 -10px #338cff;
    }
    37.5% {
        box-shadow: 0 -60px 0 -10px #338cff, 40px -40px 0 -10px #338cff, 60px 0 0 0 #338cff, 40px 40px 0 0.40px #338cff, 0 60px 0 0 #338cff, -40px 40px 0 -10px #338cff, -60px 0 0 -10px #338cff, -40px -40px 0 -10px #338cff;
    }
    50% {
        box-shadow: 0 -60px 0 -10px #338cff, 40px -40px 0 -10px #338cff, 60px 0 0 -10px #338cff, 40px 40px 0 0 #338cff, 0 60px 0 0.40px #338cff, -40px 40px 0 0 #338cff, -60px 0 0 -10px #338cff, -40px -40px 0 -10px #338cff;
    }
    62.5% {
        box-shadow: 0 -60px 0 -10px #338cff, 40px -40px 0 -10px #338cff, 60px 0 0 -10px #338cff, 40px 40px 0 -10px #338cff, 0 60px 0 0 #338cff, -40px 40px 0 0.40px #338cff, -60px 0 0 0 #338cff, -40px -40px 0 -10px #338cff;
    }
    75% {
        box-shadow: 0 -60px 0 -10px #338cff, 40px -40px 0 -10px #338cff, 60px 0 0 -10px #338cff, 40px 40px 0 -10px #338cff, 0 60px 0 -10px #338cff, -40px 40px 0 0 #338cff, -60px 0 0 0.40px #338cff, -40px -40px 0 0 #338cff;
    }
    87.5% {
        box-shadow: 0 -60px 0 0 #338cff, 40px -40px 0 -10px #338cff, 60px 0 0 -10px #338cff, 40px 40px 0 -10px #338cff, 0 60px 0 -10px #338cff, -40px 40px 0 0 #338cff, -60px 0 0 0 #338cff, -40px -40px 0 0.40px #338cff;
    }
}
  

.preloader {
    margin: 100px auto 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: animation 1.3s infinite linear;
    margin-top: 20%;
    display: block;
    
}


h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
    margin-top: 80px;
}

hr {
    margin-top: 20%;
}

footer {
    text-align: center;
}

.test{
    color: black;
    font-size: 100%;
    text-align: center;
}




  
  

    