/* Staff Image Styling */

.moderator {
  border: 3px solid #11806a;
}

.administrator {
  border: 3px solid #ffa000;
}

.co-manager {
  border: 3px solid #B803FF;
}

.supervisor {
  border: 3px solid #ffa8fb;
}

.manager {
  border: 3px solid #ff0000;
}

.ceo {
  border: 3px solid #00FF00;
}

/* Custom Staff Tags */

.tag.is-moderator {
  background-color: #11806a;
  text-shadow: #222222 3px 3px 3px;
  color: #fff;
}

.tag.is-administrator {
  background-color: #ffa000;
  text-shadow: #222222 3px 3px 3px;
  color: #fff;
}

.tag.is-co-manager {
  background-color: #B803FF;
  text-shadow: #222222 3px 3px 3px;
  color: #fff;
}

.tag.is-supervisor {
  background-color: #ffa8fb;
  text-shadow: #222222 3px 3px 3px;
  color: #fff;
}

.tag.is-manager {
  background-color: #ff0000;
  text-shadow: #222222 3px 3px 3px;
  color: #fff;
}

.tag.is-ceo {
  background-color: #00FF00;
  text-shadow: #021310 3px 3px 3px;
  color: #fff;
}
