
@keyframes animation {
    0%,
    100% {
        box-shadow: 0 -60px 0 0.40px #338cff, 40px -40px 0 0 #338cff, 60px 0 0 -10px #338cff, 40px 40px 0 -10px #338cff, 0 60px 0 -10px #338cff, -40px 40px 0 -10px #338cff, -60px 0 0 -10px #338cff, -40px -40px 0 0 #338cff;
    }
    12.5% {
        box-shadow: 0 -60px 0 0 #338cff, 40px -40px 0 0.40px #338cff, 60px 0 0 0 #338cff, 40px 40px 0 -10px #338cff, 0 60px 0 -10px #338cff, -40px 40px 0 -10px #338cff, -60px 0 0 -10px #338cff, -40px -40px 0 -10px #338cff;
    }
    25% {
        box-shadow: 0 -60px 0 -10px #338cff, 40px -40px 0 0 #338cff, 60px 0 0 0.40px #338cff, 40px 40px 0 0 #338cff, 0 60px 0 -10px #338cff, -40px 40px 0 -10px #338cff, -60px 0 0 -10px #338cff, -40px -40px 0 -10px #338cff;
    }
    37.5% {
        box-shadow: 0 -60px 0 -10px #338cff, 40px -40px 0 -10px #338cff, 60px 0 0 0 #338cff, 40px 40px 0 0.40px #338cff, 0 60px 0 0 #338cff, -40px 40px 0 -10px #338cff, -60px 0 0 -10px #338cff, -40px -40px 0 -10px #338cff;
    }
    50% {
        box-shadow: 0 -60px 0 -10px #338cff, 40px -40px 0 -10px #338cff, 60px 0 0 -10px #338cff, 40px 40px 0 0 #338cff, 0 60px 0 0.40px #338cff, -40px 40px 0 0 #338cff, -60px 0 0 -10px #338cff, -40px -40px 0 -10px #338cff;
    }
    62.5% {
        box-shadow: 0 -60px 0 -10px #338cff, 40px -40px 0 -10px #338cff, 60px 0 0 -10px #338cff, 40px 40px 0 -10px #338cff, 0 60px 0 0 #338cff, -40px 40px 0 0.40px #338cff, -60px 0 0 0 #338cff, -40px -40px 0 -10px #338cff;
    }
    75% {
        box-shadow: 0 -60px 0 -10px #338cff, 40px -40px 0 -10px #338cff, 60px 0 0 -10px #338cff, 40px 40px 0 -10px #338cff, 0 60px 0 -10px #338cff, -40px 40px 0 0 #338cff, -60px 0 0 0.40px #338cff, -40px -40px 0 0 #338cff;
    }
    87.5% {
        box-shadow: 0 -60px 0 0 #338cff, 40px -40px 0 -10px #338cff, 60px 0 0 -10px #338cff, 40px 40px 0 -10px #338cff, 0 60px 0 -10px #338cff, -40px 40px 0 0 #338cff, -60px 0 0 0 #338cff, -40px -40px 0 0.40px #338cff;
    }
}

@keyframes pulse-red {
    0% {
        box-shadow: 0 0 0 0 rgb(255 82 82 / 70%);
    }
    
    70% {
        box-shadow: 0 0 0 10px rgb(255 82 82 / 0%);
    }
    100% {
        box-shadow: 0 0 0 0 rgb(255 82 82 / 0%);
    }
    }
  

.preloader {
    margin: 100px auto 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: animation 1.3s infinite linear;
    margin-top: 16%;
    display: block;
    
}


h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
    margin-top: 80px;
}

hr {
    margin-top: 20%;
}

footer {
    text-align: center;
}

.test{
    color: black;
    font-size: 100%;
    text-align: center;
}

.btn3 {
    padding: 8px 27px;
    border-style: none;
    background-color: #338cff;
    border-radius: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    color: #fff;
    background: #338cff;
    box-shadow: 0 0 0 0 #338cff;
    -webkit-animation: pulse-red 2s infinite;
    animation: pulse-red 2s infinite;
}




  
  

    